$color-background: #fff;
$color-text: #000;

$width-content: 48rem;
$width-wide: 64rem;

$font-regular: sans-serif;

@import "config/reset.scss";
@import "config/fonts.scss";
@import "config/basic.scss";
@import "config/animate.scss";

body {
  display: block;
  align-items: center;
  position: relative;

  font: normal 16px/1.5 $font-regular;

  color: $color-text;
  background-color: $color-background;
}

@import "layout/header";
@import "layout/footer";